<div class="search-form mt-4">
    <h5>Từ khóa</h5>
    <form class="form-group" method="POST">
        <select name="gender" id="" class="">--chọn giới tính--
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
        <input class="form-control mr-sm-5" name ="q" class="form-control" id="search-input" type="text" placeholder="Nhập từ khóa" aria-label="submit">
        <button type ="submit" class="btn btn-primary">Tìm kiếm
        </button>
    </form>
</div>